body {
    text-align: center;
    background-color: #FFADC2;
}

h1 {
    color: #ffffff;
    margin-left:20px;
}

h2{
    color: #ffffff;
}
p {
    text-align: left;
}
h4{
    color: white;
    text-align: center;
}
h3{
    color: white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
}
