body {
    text-align: center;
    background-color: #FFADC2;
}

h1 {
    color: #ffffff;
    margin-left:20px;
}

h2{
    color: #ffffff;
}
h2:hover {
    color:#000;
}
p {
    text-align: left;
}
h4{
    color: white;
    text-align: center;
}
h3{
    color: white;
}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
main {
    max-width: 600px;
    margin: 0 auto;
}
